[package]
name = "mmtk_jikesrvm"
version = "0.2.0"
authors = [" <>"]

[lib]
name = "mmtk_jikesrvm"
# be careful - LTO is only allowed for certain crate types
crate-type = ["cdylib"]

[profile.release]
lto = true

[dependencies]
libc = "0.2"
lazy_static = "1.1"
log = {version = "0.4", features = ["max_level_trace", "release_max_level_off"] }
# Be very careful to commit any changes to the following mmtk dependency, as our CI scripts (including mmtk-core CI)
# rely on matching these lines to modify them: e.g. change ssh to https with token or comment out the git dependency
# and use the local path.
# These changes are safe:
# - change branch/rev
# - change repo name
# But other changes including adding/removing whitespaces in commented lines may break the CI.
mmtk = { git = "ssh://git@github.com/mmtk/mmtk-core.git", rev = "b85f621f62c7390029c09e2e136d95e54feea8aa" }
# Uncomment the following to build locally
# mmtk = { path = "../repos/mmtk-core" }

[features]
default = ["mmtk/vm_space"]
nogc = []
semispace = []
marksweep = []
