name: Dacapo Tests

on:
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      # Checkout repos and submodules
      - uses: actions/checkout@v2
      - name: Setup Environments
        run: |
          ./.github/scripts/ci-checkout.sh
          ./.github/scripts/ci-setup.sh

      # Run the tests
      - name: Dacapo Tests
        run: ./.github/scripts/ci-test-normal.sh

      # Run these checks after build

      # Style check
      - name: Style checks
        run: ./.github/scripts/ci-style.sh

      # Verify the MSRV defined in Cargo.toml
      - name: Install MSRV
        run: cargo install cargo-msrv
      # Run cargo-msrv (force using i686 toolchain)
      - name: Verify MSRV
        id: verify-msrv
        run: cargo msrv --path mmtk --target i686-unknown-linux-gnu verify -- cargo check --features semispace --target i686-unknown-linux-gnu
      # If the previous step fails, find MSRV
      - name: Find MSRV
        if: ${{ steps.verify-msrv.outcome == 'failure' }}
        run: cargo msrv --path mmtk --target i686-unknown-linux-gnu -- cargo check --features semispace --target i686-unknown-linux-gnu

  test-weak-ref:
    runs-on: ubuntu-22.04
    steps:
      # Checkout repos
      - uses: actions/checkout@v2
      - name: Setup Environments
        run: |
          ./.github/scripts/ci-checkout.sh
          ./.github/scripts/ci-setup.sh

      # Run the tests
      - name: Dacapo Tests
        run: ./.github/scripts/ci-test-weak-ref.sh
